<template name="fullpersons_index">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>fullpersons</h2>
				</div>
				<div class="panel-heading text-right">
					<a id="btn_create" class="btn btn-success">Add New</a>
					<a id="btn_search" class="btn btn-success">Search</a>
				</div>
				
				<div class="panel-body">
					{{>fullpersons}}
				</div>

				<div class="panel-footer text-right">
					<div class="btn-group">
						<a class="btn btn-success btn-lg" href="pos_bootstrap_fullperson.html">Continue</a>
						<a class="btn btn-danger btn-lg" href="pos_bootstrap_base.html">Cancel</a>
					</div>						
				</div>
			</div>
		</div>
	</div>
</template>

<template name="fullpersons">

		<table class="table table-hover">
			<thead>
				<tr>
					{{> pagesNav}} 
				</tr>
				<tr>
					<th>Name</th>
					<th>Family name</th>
					<th>Gender</th>
					<th>Birthdate</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th><input type="text" class="filter" id="name"></th>
					<th><input type="text" class="filter" id="family_name"></th>
					<th><input type="text" class="filter" id="gender"></th>
					<th><input type="text" class="filter" id="birthdate"></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{> pages}}
			</tbody>
		</table>

</template>

<template name="fullpersons_item_template">
	<tr>
		<td>{{person.name}}</td>
		<td>{{person.family_name}}</td>
		<td>{{person.gender}}</td>
		<td>{{person.birthdate}}</td>
		<td><span class="btn btn-view glyphicon glyphicon-eye-open"></span></td>
		<td><span class="btn btn-update glyphicon glyphicon-edit"></span></td>
		<td><span class="btn btn-delete glyphicon glyphicon-remove"></span></td>
	</tr>
</template>

