<template name="address_view">
	<div class="row">
		<span class="col-md-3 text-right">{{_id}}: </span>
		<span class="col-md-3 text-right">{{name}}: </span>
		<span class="col-md-8"><strong>{{street}}</strong></span>
		<span class="col-md-4 text-right"></span>
		<span class="col-md-8"><strong>{{town}} - {{zipcode}} ({{country}})</strong></span>

		<p>Created at: {{createdAt}}</p>
		<p>Created by: {{createdBy}}</p>
		<p>Updated at: {{updatedAt}}</p>
		<p>Updated by: {{updatedBy}}</p>
	</div>									
</template>
