<template name="brand_form">
<div id="brand_form" class="panel panel-default">
	<div class="panel-heading">
		<h2>Brand</h2>
	</div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				<input id="_id" type="hidden" class="form-control" value="{{_id}}">
			</div>
			<div class="form-group">
				<label class="control-label" for="name">Name</label>
				<input id="name" class="form-control" value="{{name}}" placeholder="{{name}}">
			</div>
			<div class="form-group">
				<label class="control-label" for="logo">Logo</label>
				<input id="logo" class="form-control" value="{{logo}}">
			</div>					
			<div class="form-group">
				<label class="control-label" for="url">Url</label>
				<input id="url" class="form-control" value="{{url}}">
			</div>
			<div class="form-group">
				<label class="control-label" for="phone">Phone</label>
				<div class="input-group">
					<input id="phone_id" type="hidden" class="form-control" value="{{phoneId}}" placeholder="{{phoneId}}">
					<input id="phone" type="text" readonly class="form-control" value="{{phone}}" placeholder="No phone created/selected yet">
					<span class="input-group-btn">
						<a href="/admin/phone/form/create" class="btn btn-success"><i class="fa fa-ellipsis-h"></i></a>	
					</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="email">Email</label>
				<div class="input-group">
					<input id="email_id" type="hidden" class="form-control" value="{{emailId}}" placeholder="{{emailId}}">
					<input id="email" type="text" readonly class="form-control" value="{{email}}" placeholder="No email created/selected yet">
					<span class="input-group-btn">
						<a href="/admin/email/form/create" class="btn btn-success"><i class="fa fa-ellipsis-h"></i></a>	
					</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="social_id">Socials</label>
				<input id="social_id" class="form-control" value="{{socialId}}" placeholder="{{socialId}}">
				<span id="social">{{social}}</span>
				<button id="btn_social_select" class="btn btn-success"><i class="fa fa-ellipsis-h"></i></button>					
			</div>					
		</form>
	</div>
	<div class="panel-footer text-right">		
		<div class="btn-group">
			<button id="btn_brand_save" class="btn btn-success btn-lg">Save</button>
			<button id="btn_brand_cancel" class="btn btn-danger btn-lg">Cancel</button>
		</div>	
	</div>
</div>							
</template>