<template name="brand_form">
<div id="brand_form" class="panel panel-default">
	<div class="panel-heading">
		<h2>Brand</h2>
	</div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				<input id="_id" type="hidden" class="form-control" value="{{_id}}">
			</div>
			<div class="form-group {{#if hasValidationError "name"}} has-error has-feedback {{/if}}">
				<label class="control-label" for="name">Name</label>
				<input id="name" class="form-control" value="{{name}}" placeholder="{{name}}">
				{{#if hasValidationError "name"}}
				<span id="name_validation_ko" class="form-control-feedback"><i class="fa fa-exclamation-circle"></i></span>	
				<span id="name_validation_msg" class="help-block">{{getValidationError "name"}}</span>
				{{/if}}				
			</div>
			<div class="form-group {{#if hasValidationError "logo"}} has-error has-feedback {{/if}}">
				<label class="control-label" for="logo">Logo</label>
				<input id="logo" class="form-control" value="{{logo}}">
				{{#if hasValidationError "logo"}}
				<span id="name_validation_ko" class="form-control-feedback"><i class="fa fa-exclamation-circle"></i></span>	
				<span id="logo_validation_msg" class="help-block">{{getValidationError "logo"}}</span>
				{{/if}}				
			</div>					
			<div class="form-group {{#if hasValidationError "url"}} has-error has-feedback {{/if}}">
				<label class="control-label" for="url">Url</label>
				<input id="url" class="form-control" value="{{url}}">
				{{#if hasValidationError "url"}}
				<span id="url_validation_ko" class="form-control-feedback"><i class="fa fa-exclamation-circle"></i></span>	
				<span id="url_validation_msg" class="help-block">{{getValidationError "url"}}</span>
				{{/if}}				
			</div>
			<div class="form-group {{#if hasValidationError "customerCarePhoneId"}} has-error has-feedback {{/if}}">
				<label class="control-label" for="phone">Customer Care Phone</label>
				<div class="input-group">
					<span class="input-group-btn">
						<a href="/admin/phone/delete/{{customerCarePhoneId}}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a>	
					</span>				
					<input id="customer_care_phone_id" type="hidden" class="form-control" value="{{customerCarePhoneId}}" placeholder="{{customerCarePhoneId}}">
					<input id="customer_care_phone" type="text" readonly class="form-control" value="{{customerCarePhone}}" placeholder="No phone">
					<span class="input-group-btn">
						<a href="#" id="btn_phone_form" class="btn btn-success"><i class="fa fa-plus-circle"></i></a>	
					</span>				
				</div>
				{{#if hasValidationError "customerCarePhoneId"}}
				<span id="customer_care_phone_id_validation_ko" class="form-control-feedback"><i class="fa fa-exclamation-circle"></i></span>	
				<span id="customer_care_phone_id_validation_msg" class="help-block">{{getValidationError "customerCarePhoneId"}}</span>
				{{/if}}					
			</div>
			<div class="form-group {{#if hasValidationError "customerCareEmailId"}} has-error has-feedback {{/if}}">
				<label class="control-label" for="email">Customer Care Email</label>
				<div class="input-group">
					<span class="input-group-btn">
						<a href="/admin/phone/delete/{{customerEmailPhoneId}}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a>	
					</span>
					<input id="customer_care_email_id" type="hidden" class="form-control" value="{{customerCareEmailId}}" placeholder="{{customerCareEmailId}}">
					<input id="customer_care_email" type="text" readonly class="form-control" value="{{customerCareEmail}}" placeholder="No email">
					<span class="input-group-btn">
						<a href="#" id="btn_email_form" class="btn btn-success"><i class="fa fa-plus-circle"></i></a>	
					</span>
				</div>
				{{#if hasValidationError "customerCareEmailId"}}
				<span id="customer_care_email_id_validation_ko" class="form-control-feedback"><i class="fa fa-exclamation-circle"></i></span>	
				<span id="customer_care_email_id_validation_msg" class="help-block">{{getValidationError "customerCareEmailId"}}</span>
				{{/if}}				
			</div>
			<div class="form-group {{#if hasValidationError "socialIds"}} has-error has-feedback {{/if}}">
				<label class="control-label" for="social">Socials</label>
				{{#each socialIds}}
				<div class="input-group">
					<span class="input-group-btn">
						<a href="/admin/social/delete/{{this}}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a>	
					</span>
					<input id="social_id" type="hidden" class="form-control" value="{{this}}" placeholder="{{this}}">
					<input id="social" type="text" readonly class="form-control" value="{{social_display}}" placeholder="No value">
					<span class="input-group-btn">
						<a href="#" id="btn_social_form" class="btn btn-success"><i class="fa fa-plus-circle"></i></a>	
					</span>
				</div>
				{{/each}}
				<div class="input-group">
					<span class="input-group-btn">
						<a href="/admin/social/select" class="btn btn-success"><i class="fa fa-ellipsis-h"></i></a>	
					</span>
					<input id="social_id" type="hidden" class="form-control" value="{{socialId}}" placeholder="{{socialId}}">
					<input id="social" type="text" readonly class="form-control" value="{{socialId}}" placeholder="No value">
					<span class="input-group-btn">
						<a href="#" id="btn_social_form" class="btn btn-success"><i class="fa fa-plus-circle"></i></a>	
					</span>
				</div>
				{{#if hasValidationError "socialIds"}}
				<span id="social_id_validation_ko" class="form-control-feedback"><i class="fa fa-exclamation-circle"></i></span>	
				<span id="social_id_validation_msg" class="help-block">{{getValidationError "socialIds"}}</span>
				{{/if}}				
			</div>			
		</form>
	</div>
	<div class="panel-footer text-right">		
		<div class="btn-group">
			<button id="btn_brand_save" class="btn btn-success btn-lg"><i class="fa fa-check fa-fw"></i></button>
			<button id="btn_brand_cancel" class="btn btn-danger btn-lg"><i class="fa fa-times fa-fw"></i></button>
		</div>	
	</div>
</div>							
</template>