<template name="fullperson_form">	
	<!--div class="alert alert-success" role="alert">No messages</div-->
{{#autoForm collection="FullPersons" id="FullPersonsForm" type=type doc=doc }}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>{{doc.person.name}} {{doc.person.family_name}} ({{doc.person.nick}})</h2>
				</div>

				<div class="panel-body">
					<img class="col-md-4 pull-left" src="http://dummyimage.com/400x400/eeeeee/aaaaaa.jpg"/>
							
					<div class="col-md-8 pull-right">
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#personal-info" role="tab" data-toggle="tab">Personal Info</a></li>
						<li><a href="#users" role="tab" data-toggle="tab">Users</a></li>
						<li><a href="#employee" role="tab" data-toggle="tab">Employee</a></li>
						<li><a href="#customer" role="tab" data-toggle="tab">Customer</a></li>
						<li><a href="#contact" role="tab" data-toggle="tab">Contact</a></li>
						<li><a href="#social" role="tab" data-toggle="tab">Social</a></li>
						<li><a href="#comments" role="tab" data-toggle="tab">Comments</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="personal-info">
							{{> afQuickField name='person.name' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}	
							{{> afQuickField name='person.family_name' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}	
							{{> afQuickField name='person.nick' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}	
							{{> afQuickField name='person.id_nbr' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}	
							{{> afQuickField name='person.birthdate' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}	
							{{> afQuickField name='person.gender' options=gender_options template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
							{{> afQuickField name='person.civil_status' options=civil_status_options template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}	
						</div>
						<div class="tab-pane" id="users">
							<button class="btn btn-success pull-right">Add new</button>
							<h3>Usernames</h3>
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th>Username</th>
										<th>Profile</th>
										<th>Last login</th>
										<th>Active</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a class="col-md-1" href="#"><span class="glyphicon glyphicon-remove"></span></a></td>
										<td>Administrator</td>
										<td>admin</td>
										<td>18/10/2014 20:54</td>
										<td>Yes</td>
									</tr>
									<tr>
										<td><a class="col-md-1" href="#"><span class="glyphicon glyphicon-remove"></span></a></td>
										<td>antuan98</td>
										<td>audit</td>
										<td>20/10/2014 12:57</td>
										<td>Yes</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tab-pane" id="employee">
						</div>
						<div class="tab-pane" id="customer">
						</div>
						<div class="tab-pane" id="contact">
							{{> afQuickField name='phones'}}	
							{{> afQuickField name='emails'}}									
							{{> afQuickField name='addresses'}}												
						</div>
						<div class="tab-pane" id="social">
							<button class="btn btn-success pull-right">Add new</button>
							<h3>Social</h3>
						</div>
						<div class="tab-pane" id="comments">
							<button class="btn btn-success pull-right">Add new</button>
							<h3>Comments</h3>
							<blockquote>
							  <p>Cliente enfadado</p>
							  <footer>antuan98, 18/10/2014 18:24</footer>
							</blockquote>											
							<blockquote class="blockquote-reverse">
							  <p>Vuelve a llamar para quejarse</p>
							  <footer>antuan98, 18/10/2014 18:24</footer>
							</blockquote>											
							<blockquote>
							  <p>Se le restituye el dinero</p>
							  <footer>antuan98, 18/10/2014 18:24</footer>
							</blockquote>											
						</div>
						</div>
					</div>						
				</div>
				<div class="panel-footer text-right">
					<div class="btn-group">
					    <button type="submit" class="btn btn-success btn-lg">Save</button>
						<button class="btn btn-danger btn-lg cancel">Cancel</button>
					</div>						
				</div>
			</div>					
		</div>
		<div class="col-md-6">
		</div>
	</div>	
{{/autoForm}}	
</template>