<template name="navbar">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Balzaq</a>
			</div>
			<p class="navbar-text">Powered by <a href="#" class="navbar-link">tututu</a></p>		

			<p class="navbar-text"><a id="page_info" href="#" class="navbar-link" data-container="body" data-toggle="popover" data-placement="bottom" title="Page info" data-content="Page load time: 65ms (version 1.5.2)"><span class="glyphicon glyphicon-info-sign"></span></a></p>		
			<script>$('#page_info').popover({});</script>
						
			<ul class="nav navbar-nav navbar-right">
				{{> loginButtons}} <!-- here -->
			</ul>
	
			<p class="navbar-text navbar-right">
				<a id="toggle_connexion" href="#" class="navbar-link">
					{{#if connected}}
					<span class="glyphicon glyphicon-resize-small"></span>
					{{else}}
					<span class="glyphicon glyphicon-resize-full"></span>
					{{/if}}
				</a>			
			</p>

			<p class="navbar-text navbar-right">
				{{#if connected}}
				<span class="glyphicon glyphicon-flash text-warning"></span> {{clientIP}}
				{{else}}
				<span class="glyphicon glyphicon-ban-circle text-danger"></span> Disconnected
				{{/if}}
			</p>		
			
			<p class="navbar-text navbar-right"><a id="session_start" href="#" class="navbar-link" data-container="body" data-toggle="popover" data-placement="bottom" title="Session start" data-content="14/10/2014 9:34 ({{currentUser}})"><span class="glyphicon glyphicon-time"></span></a></p>		
			<script>$('#session_start').popover({});</script>

			<p class="navbar-text navbar-right" id="clock">{{currentTime}}</p>	
			
			<p class="navbar-text navbar-right">Test Mode
				<input type="checkbox" id="test_mode">
			</p>			

			<p class="navbar-text navbar-right">{{store_name}}</p>	
		</div>
	</nav>
</template>