<template name="login">
<div class="container">
	<h1 class="text-center">Sistema de gestión de ventas de Balzaq</h1>
	<br>
	<br>

	<div id="login_block" class="container" style="width: 400px">
		<div class="panel panel-default">
			<div class="panel-body">
				<br>
				<img class="center-block" src="http://www.balzaqtallasgrandes.com/img/balzaq-logo-14278057861.jpg">
				<br>
			</div>
			<div class="panel-heading">
				<h3 class="text-center">Login</h3>
			</div>

			<div class="panel-body">
				{{#if currentUser}}
				<h2 class="text-center">Logged in as {{currentUser.username}}</h2>
				{{else}}
				<form>
					<div class="form-group">
						<div class="input-group center-block text-center">
							<label for="username">Username</label>
							<input  id="username" type="text" class="form-control text-center">						
						</div>
					</div>
					<br><br>
					<div class="form-group">
						<div class="input-group center-block text-center">
							<label for="password">Password</label>
							<input id="password" type="password" class="form-control text-center">	
						</div>	
					</div>
				</form>
				{{/if}}	
			</div>
			
			<div class="panel-footer text-right">
				<div class="btn-group">
				{{#if currentUser}}
					<button id="btn_logout" class="btn btn-success btn-lg">Logout</button>
				{{else}}
					<button id="btn_login" class="btn btn-success btn-lg">Login</button>
				{{/if}}	
				</div>
			</div>
		</div>	
	</div>	
	
	<br>
	
	{{#if currentUser}}
	<div id="store_selector_block" class="container" style="width: 400px">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="text-center">Select store</h3>
			</div>

			<div class="panel-body">
				<form>
					<div class="form-group">
						<div class="input-group center-block text-center">
							<div id="store_selector" class="list-group">
								{{#each stores}}
								<a href="#" class="list-group-item store" data-store-id={{_id}}>{{name}}</a>
								{{/each}}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>	
	</div>
	{{/if}}	
</div>	
</template>
