<template name="currency_view">
	<div class="row">
		<p class="col-md-3 text-right">{{_id}}: </p>
		<p class="col-md-3 text-right">{{name}}: </p>
		<p class="col-md-8"><strong>{{shortname}}</strong></p>
		<p class="col-md-8"><strong>{{symbol}}</strong></p>
		<p class="col-md-8"><strong>{{precision}}</strong></p>

		<p class="col-md-8"><strong>{{bills}}</strong></p>
		<p class="col-md-8"><strong>{{coins}}</strong></p>


		<p>Created at: {{createdAt}}</p>
		<p>Created by: {{createdBy}}</p>
		<p>Updated at: {{updatedAt}}</p>
		<p>Updated by: {{updatedBy}}</p>
	</div>									
</template>
