<template name="social_view">
{{#if embed}}  
	{{name}}: {{value}}
{{else}}
	<div class="row">
		<a class="col-md-1" href="#"><span class="glyphicon glyphicon-remove"></span></a>
		<span class="col-md-3 text-right">{{name}}: </span>
		<span class="col-md-8"><strong>{{value}}</strong></span>
	</div>	
	
	{{#if userIsAdmin}}
	<div class='well'>
		Created by {{username createdBy}} at {{localizedDateAndTime createdAt}}  -  Updated by {{username updatedBy}} at {{localizedDateAndTime updatedAt}}
	</div>	
	{{/if}}
{{/if}}		
</template>