<template name="user_create">
<div class="container">
	<br>
	<br>
	<div class="container" style="width: 400px">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="text-center">Create user</h3>
			</div>

			<div class="panel-body">
				<br>
				<img class="center-block" src="http://www.balzaqtallasgrandes.com/img/balzaq-logo-14278057861.jpg">
				<br>
				<hr>
				<form>
					<div class="form-group">
						<div class="input-group center-block text-center">
							<label for="username">Username</label>
							<input  id="username" type="text" class="form-control text-center">						
						</div>
					</div>
					<br><br>
					<div class="form-group">
						<div class="input-group center-block text-center">
							<label for="password">Password</label>
							<input id="password" type="password" class="form-control text-center">	
						</div>	
					</div>
				</form>
			</div>

			<div class="panel-footer text-right">
				<div class="btn-group">
					<a id="btn_create_user" class="btn btn-success btn-lg" href="#">Create user</a>
				</div>
			</div>
		</div>	
	</div>
</div>
</template>
