<template name="order">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Order details<span class="label label-success pull-right">{{UI_final_price}}</span></h2>
		</div>
		<div class="panel-body">
			{{#if isThereOrderItems}}
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Item name</th>
							<th class="text-center" colspan="3">Unit Price</th>
							<th class="text-center">Quantity</th>
							<th class="text-center" colspan="3">Price</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#each order_items}}
							{{>order_item}}
						{{/each}}					
					</tbody>
					<tfoot>
						<tr>
							<th colspan="7">Subtotal</th>
							<th class="text-right">{{UI_subtotal}}</th>
							<th></th>
						</tr>
						<tr>
							{{#if isThereDiscount}}
							<th colspan="7">{{discountName}}</th>
							<th class="text-right">{{UI_discount}}</th>
							<th><a id="del_discount" href="#"><span class="glyphicon glyphicon-remove text-danger"></span></a></th>
							{{else}}
							<th>Discount</th>
							<th colspan="9">
								<form id="discount_form" class="form-horizontal">
									<div class="form-group">
										<div class="input-group">
											<input id="discount_name" type="text" class="form-control" placeholder="Name of discount"  style="width: 170px">	
											<span class="input-group-addon">-</span>
											<input id="discount_value" type="number" class="form-control" min="0" max="100" step="1" style="width: 70px">
											<select class="form-control" id="discount_reduction_type" style="width: 66px">
												<option value=""></option>
												{{#each reductionTypes}}
												<option value="{{value}}">{{label}}</option>
												{{/each}}
											</select>	
											<span class="input-group-btn">
												<button class="btn btn-success" id="add_discount">Add it!</button>									
											</span>	
										</div>	
									</div>				
								</form>
							</th>
							{{/if}}
						</tr>
						<tr>
							<th colspan="7">Total</th>
							<th class="text-right">{{UI_final_price}}</th>
							<th></th>
						</tr>
					</tfoot>
				</table>	
			{{else}}
				<h1>No items yet in this order</h1>
			{{/if}}
		</div>
		<div class="panel-heading" id="payment_panel_header">
			<h2>To be paid
			{{#if isOrderSettled}} 
				<span class="label label-success pull-right">PAID!</span>
			{{else}} 
				<span class="label label-danger pull-right">{{restToSettle}}</span>
			{{/if}}
			</h2>
		</div>		
		<div class="panel-body" id="payment_panel_body">
			{{#if isTherePayments}}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Transaction Type</th>
						<th>Details</th>
						<th class="text-right">Amount</th>
					</tr>
				</thead>
				<tbody>			
					{{#each payment_trxs}}
						{{>payment_trx}}
					{{/each}}			
				</tbody>
				<tfoot>
					<tr>
						<th colspan="2">Total</th>
						<th class="text-right">{{UI_paid}}</th>
						<th></th>
					</tr>					
				</tfoot>
			</table>
			{{else}}
				<h1>No items yet in this order</h1>
			{{/if}}			
			
			{{#if isTherePublicComment}}
				<div class="alert alert-warning alert-dismissible">
					<button id="btn_remove_public_comment" type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
					<strong>Public:</strong> {{public_comment}}
				</div>			
			{{/if}}	
			{{#if isTherePrivateComment}}
				<div class="alert alert-success alert-dismissible">
					<button id="btn_remove_private_comment" type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
					<strong>Private:</strong> {{private_comment}}
				</div>			
			{{/if}}	
		</div>
		<div class="panel-footer text-right">
			<div class="btn-group">
				{{#if isOrderSettled}}
				<a class="btn btn-success btn-lg" id="btn_save_order">Save</a>
				{{else}}
					{{#if isThereOrderItems}}
					<a class="btn btn-success btn-lg" id="btn_payment" href="/order/payment">Payment</a>
					{{/if}}	
				{{/if}}	
				<a class="btn btn-success btn-lg" id="btn_comments" href="/order/comments">Add Comments</a>
				<a class="btn btn-success btn-lg" href="/person/search">Customer Data</a>			
				<a class="btn btn-danger btn-lg" id="btn_cancel_order" href="/">Cancel</a>
			</div>						
		</div>
	</div>
</template>	

<template name="order_item">
	<tr>
		<td>{{name}}</td>
		<td class="text-right">{{UI_unit_price}}</td>
		<td class="text-right">{{UI_unit_discount}}</td>
		<td class="text-right">{{UI_final_unit_price}}</td>
		<td class="text-center">
			<a class="add1" href="#" data-index="{{index}}"><span class="glyphicon glyphicon-plus-sign"></span></a>
			{{quantity}}
			<a class="del1" href="#" data-index="{{index}}"><span class="glyphicon glyphicon-minus-sign"></span></a>
		</td>
		<td class="text-right">{{UI_price}}</td>
		<td class="text-right">{{UI_order_item_discount}}</td>
		<td class="text-right">{{UI_final_price}}</td>
		<td><a class="del" href="#" data-index="{{index}}"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
	</tr>	
</template>

<template name="payment_trx">
	<tr>
		<td>{{type}}</td>
		<td>{{cash_trx_details}}</td>
		<td class="text-right">{{UI_paid}}</td>
		<td><a id="del_payment_trx" href="#" data-index="{{index}}"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
	</tr>
</template>