<template name="admin_menu">
	<div class="btn-group-vertical center-block">
		<a href="/order/create" class="btn btn-success btn-lg">New order</a>
		<a href="/order/search" class="btn btn-success btn-lg">Search order</a>
		<a href="" class="btn btn-primary btn-lg">Reservation</a>
		<a href="/product/search" class="btn btn-primary btn-lg">Check product</a>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Brand <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/brand/form/create">Create</a></li>
				<li><a href="/admin/brand/select">Select</a></li>
				<li><a href="/admin/brand/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Company <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/company/create">Create</a></li>
				<li><a href="/admin/company/search">Search</a></li>
				<li><a href="/admin/company/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			User <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/user/create">Create</a></li>
				<li><a href="/admin/user/search">Search</a></li>
				<li><a href="/admin/user/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Currency <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/currency/create">Create</a></li>
				<li><a href="/admin/currency/search">Search</a></li>
				<li><a href="/admin/currency/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Tax <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/tax/create">Create</a></li>
				<li><a href="/admin/tax/search">Search</a></li>
				<li><a href="/admin/tax/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Regional Store Network <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/regional_store_network/create">Create</a></li>
				<li><a href="/admin/regional_store_network/search">Search</a></li>
				<li><a href="/admin/regional_store_network/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Store <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/store/create">Create</a></li>
				<li><a href="/admin/store/search">Search</a></li>
				<li><a href="/admin/store/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Session <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/session/create">Create</a></li>
				<li><a href="/admin/session/search">Search</a></li>
				<li><a href="/admin/session/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Brand <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/brand/create">Create</a></li>
				<li><a href="/admin/brand/search">Search</a></li>
				<li><a href="/admin/brand/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Brand <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/brand/create">Create</a></li>
				<li><a href="/admin/brand/search">Search</a></li>
				<li><a href="/admin/brand/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Brand <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/brand/create">Create</a></li>
				<li><a href="/admin/brand/search">Search</a></li>
				<li><a href="/admin/brand/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Brand <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/admin/brand/create">Create</a></li>
				<li><a href="/admin/brand/search">Search</a></li>
				<li><a href="/admin/brand/list">List</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Annulations <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">Item return</a></li>
				<li><a href="#">Cancel operation</a></li>
				<li><a href="#">Cancel transaction</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
			Cash <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="/cashflow/in">In</a></li>
				<li><a href="/cashflow/out">Out</a></li>
				<li><a href="/cash/check">Check</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
			Address <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="/admin/address/create">Create</a></li>
			</ul>
		</div>								
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
			Messages <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">Check latest</a></li>
				<li><a href="#">Send</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
			Users <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/user/create">Create user</a></li>
				<li><a href="/user/search">Search user</a></li>
			</ul>
		</div>								
		<a href="/fullpersons" class="btn btn-success btn-lg">Search person</a>
		<a href="/fullperson/create" class="btn btn-success btn-lg">Create person</a>
		<a href="#" class="btn btn-success btn-lg">Open cash drawer</a>
	</div>				
</template>