<template name="admin_menu">
	<div class="text-center">
		<img class="img-circle" src="http://dummyimage.com/50x50/aaaaaa/888888.jpg">
		<h3>Antonio</h3>
	</div>
	<div>
		<a class="menu_title" href="#">User</a>
		<div class="menu_items">
			<a href="/admin/user/search">Search</a>
			<a href="/admin/user/form/create">Create</a>
		</div>
		<a class="menu_title" href="#">Currency</a>
		<div class="menu_items">
			<a href="/admin/currency/search">Search</a>
			<a href="/admin/currency/form/create">Create</a>
		</div>
		<a class="menu_title" href="#">Tax</a>
		<div class="menu_items">
			<a href="/admin/tax/search">Search</a>
			<a href="/admin/tax/form/create">Create</a>
		</div>
		<a class="menu_title" href="#">Brand</a>
		<div class="menu_items">
			<a href="/admin/brand/search">Search</a>
			<a href="/admin/brand/form/create">Create</a>
		</div>
		<a class="menu_title" href="#">Company</a>
		<div class="menu_items">
			<a href="/admin/company/search">Search</a>
			<a href="/admin/company/form/create">Create</a>
		</div>
		<a class="menu_title" href="#">Regional Network</a>
		<div class="menu_items">
			<a href="/admin/regional_network/search">Search</a>
			<a href="/admin/regional_network/form/create">Create</a>
		</div>
		<a class="menu_title" href="#">Store</a>
		<div class="menu_items">
			<a href="/admin/store/search">Search</a>
			<a href="/admin/store/form/create">Create</a>
		</div>
		<a class="menu_title" href="#">Session</a>
		<div class="menu_items">
			<a href="/admin/session/search">Search</a>
			<a href="/admin/session/form/create">Create</a>
		</div>
		<a class="menu_title" href="#">Order</a>
		<div class="menu_items">
			<a href="/admin/order/search">Search</a>
			<a href="/admin/order/form/create">Create</a>
		</div>
		<a class="menu_title" href="#">Cash</a>
		<div class="menu_items">
			<a href="/admin/cash/search">Search</a>
			<a href="/admin/cash/form/create">Create</a>
		</div>
		<a class="menu_title" href="#">Reservation</a>
		<div class="menu_items">
			<a href="/admin/reservation/search">Search</a>
			<a href="/admin/reservation/form/create">Create</a>
		</div>
		<a class="menu_title" href="#">Person</a>
		<div class="menu_items">
			<a href="/admin/person/search">Search</a>
			<a href="/admin/person/form/create">Create</a>
		</div>
	</div>
</template>

