<template name="person_view">
	<button class="btn btn-success pull-right" id="btn_update">Update</button>
	<h3>Personal Data</h3>
	<div class="row">
		<span class="col-md-4 text-right">Name: </span><span class="col-md-8"><strong>{{name}}</strong></span>
	</div>
	<div class="row">
		<span class="col-md-4 text-right">Family name: </span><span class="col-md-8"><strong>{{family_name}}</strong></span>
	</div>
	<div class="row">
		<span class="col-md-4 text-right">Nick: </span><span class="col-md-8"><strong>{{nick}}</strong></span>
	</div>
	<div class="row">
		<span class="col-md-4 text-right">Identification number: </span><span class="col-md-8"><strong>{{id_nbr}}</strong></span>
	</div>											
	<div class="row">
		<span class="col-md-4 text-right">Birthdate: </span><span class="col-md-8"><strong>{{birthdate_formatted}} {{age}}</strong></span>
	</div>
	<div class="row">
		<span class="col-md-4 text-right">Gender: </span><span class="col-md-8"><strong>{{gender}}</strong></span>
	</div>
	<div class="row">
		<span class="col-md-4 text-right">Civil status: </span><span class="col-md-8"><strong>{{civil_status}}</strong></span>
	</div>	
</template>