<template name="cash_inout">
	<div class="modal fade" id="modalCashInOut" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="myModalLabel">Cash in/out</h2>
				</div>
				<div class="modal-body">
					<h3>Please complete the following data</h3>
					<form class="form-default" role="search">
						<div class="btn-group" data-toggle="buttons">
						  <label class="btn btn-primary active">
							<input type="radio" name="options" id="cashin" checked>Cash In
						  </label>
						  <label class="btn btn-primary">
							<input type="radio" name="options" id="cashout">Cash Out
						  </label>
						</div>
						<br/>
						<label>Amount:</label>
						<input type="text" class="form-control" placeholder="0">
						<label>Concept:</label>
						<input type="text" class="form-control" placeholder="Concept of this cash flow">
						<label>Comment:</label>
						<textarea class="form-control" rows="3" placeholder="Enter your comments here"></textarea>
					</form>										
				</div>
				<div class="modal-footer text-right">
					<div class="btn-group">
						<a class="btn btn-success btn-lg" href="pos_bootstrap_base.html">Save</a>
						<a class="btn btn-danger btn-lg" href="pos_bootstrap_base.html">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>			
</template>