<template name="invoice">
	<audio id="beep" src="../audio/beep.wav" preload="auto" autostart="false"></audio>
	<audio id="remove" src="../audio/remove.wav" preload="auto" autostart="false"></audio>

	<div class="panel panel-default col-sm-4">
		<div class="panel-body">
			<br>
			<br>
			<br>
			{{>invoice_brand}}
			{{>invoice_store}}
			{{>invoice_order_qrcode}}
			
			{{#if isGiftInvoice}}
				{{>invoice_gift}}
			{{else}}
				{{>invoice_order_items}}
				{{>invoice_payment_trxs}}
			{{/if}}	
			
			{{#if isTherePublicComment}}
			<p><strong>{{public_comment}}</strong></p>		
			{{/if}}				

			<hr>
			{{>invoice_special_offers}}
			<hr>
			{{>invoice_conditions}}
			<hr>
			{{>invoice_company}}
		</div>
		<div class="panel-footer text-right">
			<div class="btn-group">		
				<a class="btn btn-danger btn-lg" href="/">Back</a>
			</div>						
		</div>
	</div>
</template>	

<template name="invoice_brand">
	<div class="text-center">
		<img src="{{brand_logo}}" width="60%"/>
		<p>{{brand_url}}</p>
		<address>
			<small>				
				Tfno de atención al cliente: {{brand_phone}}<br>
				{{brand_email}}
			</small>
		</address>				
	</div>
</template>

<template name="invoice_special_offers">
	<div class="text-center">
		<p><strong>¡¡¡PROMOCIÓN 2X1!!!</strong></p>
		<p>Del 1 al 15 de marzo todos nuestros artículos se beneficiarán de un descuento: llévese dos y pague 1</p>
		<p>No acumulable a otros descuentos</p>
	</div>		
</template>

<template name="invoice_gift">
	<div class="text-center">
		<p><strong>TICKET REGALO</strong></p>
		<p><small>
			Conserve este ticket para posibles devoluciones<br>
			Plazo de devolución: 10 días
		</small></p>		
	</div>
</template>

<template name="invoice_conditions">
	<div class="text-center">
		<p><strong>GRACIAS POR SU COMPRA</strong></p>
		<p><small>
			Conserve este ticket para posibles devoluciones<br>
			Plazo de devolución: 10 días
		</small></p>
	</div>	
</template>

<template name="invoice_company">
	<div class="text-center">
		<address>
			<small>
				{{company_tax_name}} ({{company_tax_nbr}})<br>
				{{company_tax_address_street}}		{{company_tax_address_town}} - {{company_tax_address_zipcode}}
			</small>
		</address>
	</div>	
</template>

<template name="invoice_store">
	<div class="text-center">
		<address>
			<small>			
				{{store_name}}<br>
				{{store_address_street}}<br>
				{{store_address_town}} - {{store_address_zipcode}}<br>
				Tfno: {{store_phone}}
			</small>
		</address>				
	</div>
</template>

<template name="invoice_order_qrcode">
	<div class="text-center">
		<img src="http://www.wired.com/images_blogs/magazine/2013/04/qrcode_f.jpg" width="30%"/>
		<p><strong>{{id}}</strong></p>
	</div>

	<div>
		<p><small>Fecha de compra: {{purchase_date}}</small></p>
		<p><small>Le atendió: {{employee_name}}</small></p>
	</div>	
</template>

<template name="invoice_order_items">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th><small><strong>Item</strong></small></th>
				<th class="text-center" colspan="3"><small><strong>UPrice</strong></small></th>
				<th class="text-center"><small><strong>#</strong></small></th>
				<th class="text-center" colspan="3"><small><strong>Price</strong></small></th>
			</tr>
		</thead>
		<tbody>
			{{#each order_items}}
				{{>invoice_order_item}}
			{{/each}}					
		</tbody>
		<tfoot>
			<tr>
				<th colspan="7"><small><strong>Subtotal</strong></small></th>
				<th class="text-right"><small><strong>{{UI_subtotal}}</strong></small></th>
			</tr>
			<tr>
				{{#if isThereDiscount}}
				<th colspan="7">{{discountName}}</th>
				<th class="text-right">{{UI_discount}}</th>
				{{/if}}
			</tr>
			<tr>
				<th colspan="7">Total</th>
				<th class="text-right">{{UI_final_price}}</th>
			</tr>
		</tfoot>
	</table>	
</template>
	
<template name="invoice_order_item">
	<tr>
		<td><small>{{name}}</small></td>
		<td class="text-right"><small>{{UI_unit_price}}</small></td>
		<td class="text-right"><small>{{UI_unit_discount}}</small></td>
		<td class="text-right"><small>{{UI_final_unit_price}}</small></td>
		<td class="text-center"><small>{{quantity}}</small></td>
		<td class="text-right"><small>{{UI_price}}</small></td>
		<td class="text-right"><small>{{UI_order_item_discount}}</small></td>
		<td class="text-right"><small>{{UI_final_price}}</small></td>
	</tr>	
</template>

<template name="invoice_payment_trxs">
	<p><strong>PAGADO</strong></p>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Transaction Type</th>
				<th>Details</th>
				<th class="text-right">Amount</th>
			</tr>
		</thead>
		<tbody>			
			{{#each payment_trxs}}
				{{>invoice_payment_trx}}
			{{/each}}			
		</tbody>
		<tfoot>
			<tr>
				<th colspan="2">Total</th>
				<th class="text-right">{{UI_paid}}</th>
			</tr>					
		</tfoot>
	</table>
</template>

<template name="invoice_payment_trx">
	<tr>
		<td>{{type}}</td>
		<td>{{details}}</td>
		<td class="text-right">{{UI_paid}}</td>
	</tr>
</template>