<template name="invoice">
	<audio id="beep" src="../audio/beep.wav" preload="auto" autostart="false"></audio>
	<audio id="remove" src="../audio/remove.wav" preload="auto" autostart="false"></audio>

	<div class="panel panel-default col-sm-4">
		<div class="panel-body">
			<br>
			<br>
			<br>
			<div class="text-center">
				<img src="http://www.balzaqtallasgrandes.com/img/balzaq-logo-14278057861.jpg" width="60%"/>
				<p>www.balzaq.com</p>
				<address>
					<small>				
						Tfno de atención al cliente: 910144408<br>
						contacto@balzaq.com
					</small>
				</address>				
			</div>

			<div class="text-center">
				<address>
					<small>			
						Tienda Balzaq Alcalá<br>
						C/Alcalá, 402<br>
						MADRID - 28027<br>
						Tfno: 910144408
					</small>
				</address>				
			</div>

			<div class="text-center">
				<img src="http://www.wired.com/images_blogs/magazine/2013/04/qrcode_f.jpg" width="30%"/>
				<p><strong>abs80s032i2ll2qww8e</strong></p>
			</div>
			
			<div>
					<p><small>Fecha de compra: 17/08/2015 11:48</small></p>
					<p><small>Le atendió: Lorena</small></p>
			</div>

			<table class="table table-condensed">
				<thead>
					<tr>
						<th><small><strong>Item</strong></small></th>
						<th class="text-center" colspan="3"><small><strong>UPrice</strong></small></th>
						<th class="text-center"><small><strong>#</strong></small></th>
						<th class="text-center" colspan="3"><small><strong>Price</strong></small></th>
					</tr>
				</thead>
				<tbody>
					{{#each order_items}}
						{{>invoice_order_item}}
					{{/each}}					
				</tbody>
				<tfoot>
					<tr>
						<th colspan="7"><small><strong>Subtotal</strong></small></th>
						<th class="text-right"><small><strong>{{UI_subtotal}}</strong></small></th>
					</tr>
					<tr>
						{{#if isThereDiscount}}
						<th colspan="7">{{discountName}}</th>
						<th class="text-right">{{UI_discount}}</th>
						{{/if}}
					</tr>
					<tr>
						<th colspan="7">Total</th>
						<th class="text-right">{{UI_final_price}}</th>
					</tr>
				</tfoot>
			</table>	

			<p><strong>PAGADO</strong></p>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Transaction Type</th>
						<th>Details</th>
						<th class="text-right">Amount</th>
					</tr>
				</thead>
				<tbody>			
					{{#each payment_trxs}}
						{{>invoice_payment_trx}}
					{{/each}}			
				</tbody>
				<tfoot>
					<tr>
						<th colspan="2">Total</th>
						<th class="text-right">{{UI_paid}}</th>
					</tr>					
				</tfoot>
			</table>

			<hr>

			<div class="text-center">
				<p><strong>¡¡¡PROMOCIÓN 2X1!!!</strong></p>
				<p>Del 1 al 15 de marzo todos nuestros artículos se beneficiarán de un descuento: llévese dos y pague 1</p>
				<p>No acumulable a otros descuentos</p>
			</div>			

			<hr>
			
			<div class="text-center">
				<p><strong>GRACIAS POR SU COMPRA</strong></p>
				<p><small>
					Conserve este ticket para posibles devoluciones<br>
					Plazo de devolución: 10 días
				</small></p>
			</div>	

			<hr>

			<div class="text-center">
				<address>
					<small>
						Diflecos Commerce S.L. (B86407590)<br>
						C/Francisco Madariaga, 2 - 2ºC		MADRID - 28017
					</small>
				</address>
			</div>			
		</div>
		<div class="panel-footer text-right">
			<div class="btn-group">		
				<a class="btn btn-danger btn-lg" href="/">Back</a>
			</div>						
		</div>
	</div>
</template>	

<template name="invoice_order_item">
	<tr>
		<td><small>{{name}}</small></td>
		<td class="text-right"><small>{{UI_unit_price}}</small></td>
		<td class="text-right"><small>{{UI_unit_discount}}</small></td>
		<td class="text-right"><small>{{UI_final_unit_price}}</small></td>
		<td class="text-center"><small>{{quantity}}</small></td>
		<td class="text-right"><small>{{UI_price}}</small></td>
		<td class="text-right"><small>{{UI_order_item_discount}}</small></td>
		<td class="text-right"><small>{{UI_final_price}}</small></td>
	</tr>	
</template>

<template name="invoice_payment_trx">
	<tr>
		<td>{{type}}</td>
		<td>{{details}}</td>
		<td class="text-right">{{UI_paid}}</td>
	</tr>
</template>