<template name="itemlocator">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Item locator</h2>
		</div>
		<div class="panel-body">
			<ul id="item-locator-tablist" class="nav nav-tabs">
				{{#if isQRCodeMethodAvailable}}
				<li><a href="#qrcode-tab"><i class="fa  fa-qrcode fa-lg"></i> Scan QR</a></li>
				{{/if}}
				{{#if isManualMethodAvailable}}
				<li><a href="#manual-tab"><i class="fa  fa-hand-o-right fa-lg"></i> Manual</a></li>
				{{/if}}
				{{#if isSearchMethodAvailable}}
				<li><a href="#search-tab"><i class="fa  fa-search fa-lg"></i> Search</a></li>
				{{/if}}
				{{#if isBrowseMethodAvailable}}
				<li><a href="#browse-tab"><i class="fa  fa-folder-open-o fa-lg"></i> Browse</a></li>
				{{/if}}
				{{#if isCategoryMethodAvailable}}
				<li><a href="#category-tab"><i class="fa fa-folder-open-o fa-lg"></i> Category</a></li>
				{{/if}}
			</ul>		
			<div id="item-locator-content" class="tab-content">
				{{#if isQRCodeMethodAvailable}}
				<div class="tab-pane fade active in" id="qrcode-tab">
					<h3>Scanned QRcode: <span class="label label-success">BA009X229923</span></h3>
				</div>	
				{{/if}}
				{{#if isManualMethodAvailable}}
				<div class="tab-pane fade" id="manual-tab">
					{{>qr_scan_form}}	
				</div>
				{{/if}}
				{{#if isSearchMethodAvailable}}
				<div class="tab-pane fade" id="search-tab">
					{{>search_item_form}}
					{{>search_results}}
				</div>
				{{/if}}
				{{#if isBrowseMethodAvailable}}
				<div class="tab-pane fade" id="browse-tab">
					<h3>Choose a category</h3>
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">Electronics</a></li>
						<li><a href="#">Music</a></li>
						<li class="active">
							<div class="btn-group">
								<button type="button" class="btn btn-default">Explore</button>
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Pop</a></li>
									<li><a href="#">Rock</a></li>
									<li><a href="#">Punk</a></li>
									<li><a href="#">Jazz</a></li>
									<li><a href="#">Classic</a></li>
								</ul>
							</div>
						</li>
					</ol>		
					{{>search_results}}					
				</div>		
				{{/if}}
				{{#if isCategoryMethodAvailable}}
				<div class="tab-pane fade" id="category-tab">
					<h3>Frequently Used Categories</h3>
					{{#each frequentyleUsedCategories}}
						<a class="btn btn-default frequentyle_used_categories" href="#" data-catname={{name}}>{{name}}</a>
					{{/each}}						
					<h3>Choose a category</h3>
					<ol class="breadcrumb">
						{{#each selectedCategories}}
							<li><a class="categorySelected" href="#" data-level="{{level}}" data-catname={{name}}>{{name}}</a></li>
						{{/each}}			
						{{#if isThereChildCategories}}
						<li class="active">
							<div class="btn-group">						
								<button type="button" class="btn btn-default">Explore</button>
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									{{#each childCategories}}
										{{>categorySelector}}
									{{/each}}
								</ul>
							</div>
						</li>
						{{/if}}
					</ol>		
					{{>category_form}}
				</div>						
				{{/if}}
			</div>
		</div>					
	</div>
</template>	

<template name="search_results">
	<div id="search-results">
		<h2>Search results</h2>
		<ul class="list-group">
			<li class="list-group-item">
				<img class="pull-right" width="64" height="64" src="" alt="...">
				<p><strong>Headphones GORILLA</strong></p>
				<p>Description of Headphones GORILLA, long description of the headphones</p>
				<button class="btn btn-success pull-right">Select</button>
				<p><strong>23.40€</strong></p>
			</li>								
			<li class="list-group-item">
				<img class="pull-right" width="64" height="64" src="" alt="...">
				<p><strong>Headphones GORILLA</strong></p>
				<p>Description of Headphones GORILLA, long description of the headphones, bla, bla, blu, blue, bla, bla, blu, blue, bla, bla, blu, blue, bla, bla, blu, blue, bla, bla, blu, blue, bla, bla, blu, blue, bla, bla, blu, blue, bla, bla, blu, blue</p>
				<button class="btn btn-success pull-right">Select</button>
				<p><strong>23.40€</strong></p>
			</li>
			<li class="list-group-item">
				<img class="pull-right" width="64" height="64" src="" alt="...">
				<p><strong>Headphones GORILLA</strong></p>
				<p>Description of Headphones GORILLA, long description of the headphones, bla, bla, blu, blue, bla, bla, blu, blue, bla, bla, blu, blue, bla, bla, blu, blue</p>
				<button class="btn btn-success pull-right">Select</button>
				<p><strong>23.40€</strong></p>
			</li>
			<li class="list-group-item">
				<img class="pull-right" width="64" height="64" src="" alt="...">
				<p><strong>Headphones GORILLA</strong></p>
				<p>Description of Headphones GORILLA, long description of the headphones</p>
				<button class="btn btn-success pull-right">Select</button>
				<p><strong>23.40€</strong></p>
			</li>
		</ul>							
	</div>
</template>

<template name="qr_scan_form">
	<h3>Scan or enter item QRcode: </h3>
	<form class="form-inline" role="search">		
		<input type="text" class="form-control" placeholder="Search">
		<button type="submit" class="btn btn-primary">Search</button>
	</form>	
</template>

<template name="search_item_form">
	<h3>Search item text and description</h3>
	<form class="form-inline" role="search">
		<input type="text" class="form-control" placeholder="Search">
		<button type="submit" class="btn btn-primary">Search</button>
	</form>		
</template>

<template name="category_form">
	<h3>Enter item name and price</h3>
	<form id="category_form" class="form-horizontal">
		<div  class="form-group">
			<label for="order_item_name" class="col-sm-4 control-label">Name: </label>
			<div class="col-sm-8">
				<input id="order_item_name" type="text" class="form-control" value="{{categorySelected}}">
			</div>
		</div>
		<div  class="form-group">
			<label for="order_item_unit_price" class="col-sm-4 control-label">Unit Price: </label>
			<div class="col-sm-4">
				<div class="input-group">
					<input id="order_item_unit_price" type="number" min="0" step="0.01" class="form-control">
					<span class="input-group-addon">€</span>
				</div>		
			</div>	
		</div>	
		<div  class="form-group">
			<label for="order_item_unit_price" class="col-sm-4 control-label">Unit Discount: </label>
			<div class="col-sm-8">
				<select id="unit_special_offer_selector" class="form-control">
					<option value="">No special offer selected</option>
					{{#each specialOffersForItems}}
					<option value="{{_id}}">{{name}}</option>
					{{/each}}
				</select>
			</div>		
		</div>	
		
<!--  BEGIN  -->
		<div  class="form-group">
			<label for="unit_discount_name" class="col-sm-4 control-label"></label>
			<div class="col-sm-8">
				<div class="input-group">
					<input id="unit_discount_name" type="text" class="form-control" placeholder="Name of discount" style="width: 160px">	
					<span class="input-group-addon">-</span>
					<input id="unit_discount_value" type="number" class="form-control" max="100" step="1" style="width: 70px">
					<select class="form-control" id="unit_discount_reduction_type" style="width: 66px">
						<option value=""></option>
						{{#each reductionTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>				
				</div>		
			</div>	
		</div>	
<!--  END  -->	

		<div  class="form-group">
			<label for="order_item_quantity" class="col-sm-4 control-label">Quantity: </label>
			<div class="col-sm-4">
				<input id="order_item_quantity" type="number" min="0" step="1" class="form-control" value="1">
			</div>
		</div>	
		<div  class="form-group">
			<label for="order_item_unit_price" class="col-sm-4 control-label">Order Item Discount: </label>
			<div class="col-sm-8">
				<select id="order_item_special_offer_selector" class="form-control">
					<option value="">No special offer selected</option>
					{{#each specialOffersForOrderItems}}
					<option value="{{_id}}">{{name}}</option>
					{{/each}}
				</select>
			</div>		
		</div>	
		
<!--  BEGIN  -->
		<div  class="form-group">
			<label for="order_item_discount_name" class="col-sm-4 control-label"></label>
			<div class="col-sm-8">
				<div class="input-group">
					<input id="order_item_discount_name" type="text" class="form-control" placeholder="Name of discount"  style="width: 160px">	
					<span class="input-group-addon">-</span>
					<input id="order_item_discount_value" type="number" class="form-control" max="100" step="1" style="width: 70px">
					<select class="form-control" id="order_item_discount_reduction_type" style="width: 66px">
						<option value=""></option>
						{{#each reductionTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>				
				</div>	
			</div>			
		</div>	
<!--  END  -->		

		<div class="col-sm-4"></div>
		<div class="btn-group">
			<button id="add_order_item" class="btn btn-lg btn-success center-block">Add Item</button>
			<button id="reset_category_form" class="btn btn-lg btn-danger center-block">Reset</button>
		</div>
	</form>	
</template>

<template name="categorySelector">
	<li><a href="#" class="categorySelector" data-mongoid={{_id}} data-catname={{name}}>{{name}}</a></li>
</template>