<template name="company_view">
	<div class="row">
		<p class="col-md-3 text-right">{{_id}}: </p>
		<p class="col-md-3 text-right">{{currency_id}}: </p>
		<p class="col-md-3 text-right">{{tax_nbr}}: </p>
		<p class="col-md-3 text-right">{{tax_name}}: </p>
		<p class="col-md-3 text-right">{{tax_address_id}}: </p>
		<p class="col-md-3 text-right">{{commercial_name}}: </p>
		<p class="col-md-3 text-right">{{logo}}: </p>

		<p>Created at: {{createdAt}}</p>
		<p>Created by: {{createdBy}}</p>
		<p>Updated at: {{updatedAt}}</p>
		<p>Updated by: {{updatedBy}}</p>
	</div>									
</template>
